<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!-- 헤더 -->
<div th:replace="fragments/header :: header"></div>

<!-- 본문 -->
<main class="container my-5" th:fragment="content">
</main>

<!-- 푸터 -->
<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>